##Import Data

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [3]:
%cd 'drive/My Drive/Enlight'

/content/drive/My Drive/Enlight

In [4]:
import pandas as pd

In [5]:
#Load in the data
fake = pd.read_csv('Fake.csv')
true = pd.read_csv('True.csv')

In [6]:
true.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [7]:
fake.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [8]:
##Set entire FAKE column to 0 or 1 so we know which is real and which is fake
true["fake_news"]=0
fake["fake_news"]=1

In [9]:
true.head()

                                               title  ... fake_news
0  As U.S. budget fight looms, Republicans flip t...  ...         0
1  U.S. military to accept transgender recruits o...  ...         0
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...         0
3  FBI Russia probe helped by Australian diplomat...  ...         0
4  Trump wants Postal Service to charge 'much mor...  ...         0

[5 rows x 5 columns]

In [10]:
fake.head()

                                               title  ... fake_news
0   Donald Trump Sends Out Embarrassing New Year’...  ...         1
1   Drunk Bragging Trump Staffer Started Russian ...  ...         1
2   Sheriff David Clarke Becomes An Internet Joke...  ...         1
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...         1
4   Pope Francis Just Called Out Donald Trump Dur...  ...         1

[5 rows x 5 columns]

In [12]:
#Examine the unique article subjects
fake['subject'].unique()

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east'], dtype=object)

In [13]:
true['subject'].unique()

array(['politicsNews', 'worldnews'], dtype=object)

#Extracting text in Pandas

In [14]:
just_text = true['text']

In [16]:
just_text.head()

0    WASHINGTON (Reuters) - The head of a conservat...
1    WASHINGTON (Reuters) - Transgender people will...
2    WASHINGTON (Reuters) - The special counsel inv...
3    WASHINGTON (Reuters) - Trump campaign adviser ...
4    SEATTLE/WASHINGTON (Reuters) - President Donal...
Name: text, dtype: object

In [17]:
#Use RegEx to remove Reuters section
just_text = just_text.str.extractall(r"^.*? - (?P<text>.*)") #Extracts everything after hyphen, and renames our column to text

In [18]:
just_text.head()

                                                      text
  match
0 0      The head of a conservative Republican faction ...
1 0      Transgender people will be allowed for the fir...
2 0      The special counsel investigation of links bet...
3 0      Trump campaign adviser George Papadopoulos tol...
4 0      President Donald Trump called on the U.S. Post...

In [19]:
just_text = just_text.droplevel(1)

In [20]:
just_text.head()

                                                text
0  The head of a conservative Republican faction ...
1  Transgender people will be allowed for the fir...
2  The special counsel investigation of links bet...
3  Trump campaign adviser George Papadopoulos tol...
4  President Donald Trump called on the U.S. Post...

In [21]:
#Now we reassign our formatted text back to the true dataframe
true = true.assign(text=just_text['text'])

In [22]:
true.head()

                                               title  ... fake_news
0  As U.S. budget fight looms, Republicans flip t...  ...         0
1  U.S. military to accept transgender recruits o...  ...         0
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...         0
3  FBI Russia probe helped by Australian diplomat...  ...         0
4  Trump wants Postal Service to charge 'much mor...  ...         0

[5 rows x 5 columns]

#Concatenate the dataframes

In [23]:
#Combine the true and fake dataframes
df = pd.concat([fake, true], axis=0) #axis=0 stacks the rows, axis=1 line columns up next to eachother

In [24]:
df = df.drop(['subject', 'date', 'title'], axis = 1) #don't need these columns in model, axis=1 removes columns

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44898 entries, 0 to 21416
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text       44869 non-null  object
 1   fake_news  44898 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.0+ MB

In [26]:
#drop the null entries
df = df.dropna(axis=0)

In [27]:
#Save the cleaned CSV for other modeling
clean_text = df.to_csv("cleaned_news.csv", index = False) #prevents 2 indices